section.slider {
	position: relative;
	div.overlay {
		background-color: #000;
		opacity: .5;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
	}
	div.flexslider {
		z-index: -1;
		position: relative;
	}
	div.headlines {
		z-index: 2;
		li {
			div.headline {
				top: 20%;
				left: 35%;
				position: relative;
				p.number {
					color: @gold;
					.aleo-bold;
					opacity: .65;
					font-size: 20em;
				}
				p.tag {
					color: @gold;
					.aleo-bold;
					font-size: 4.5em;
					line-height: .8em;
					margin-left: 20%;
					margin-top: -140px;
				}
			}		
		}
		img {
			width: 100%;
		}
	}
}
section#intro {
	position: relative;
	background-color: @gold;
	div#text {
		padding: 33px 0 33px 45%;
		h1 {
			.ubuntu-regular;
			font-size: 1.6em;
			line-height: 1.25em;
			text-align: left;
			a {
				color: #fff;
				text-decoration: underline;
				&:hover {
					color: @purple;
					.transition;
				}
			}
		}
	}
	div#rwm {
		position: absolute;
		bottom: 0;
		left: 5%;
		z-index: 1;
		img {
			width: 95%;
		}
	}
}






















