section#mast {
	img {
		width: 100%;
	}
}

section#main {
	background-color: #000;
	padding: 70px 0 140px;
	h1 {
		text-align: center;
		text-transform: uppercase;
	}
	&.morris {
		div#heading {
			background: url(/_assets/img/heading-morris.jpg) no-repeat center top transparent;
			background-size: cover;
			padding: 245px 28px 20px;
			margin-bottom: 65px;
			h2 {
				.ubuntu-bold;
				font-size: 2.6666666666666665em;
				color: @gold;
				text-align: right;
				text-transform: uppercase;
				text-shadow: 2px 2px 4px #000;
			}

			h3 {
				.ubuntu-bold;
				font-size: 1.6em;
				line-height: 2em;
				color: @gold;
				text-align: right;
				text-transform: uppercase;
				text-shadow: 2px 2px 3px #000;
			}			
		}
	}
}


















