@charset "UTF-8";
/* Eric Meyer's reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0b1 | 201101 
	NOTE: WORK IN PROGRESS
	USE WITH CAUTION AND TEST WITH ABANDON */
/* Use this reset as a starting point, and customize to your needs */
/* Slightly modified to prevent anchor elements from losing outline, as in HTML5 Boilerplate */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
a {
  background: transparent;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Meyer's reset ends here */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.browsehappy {
  height: 10%;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 60px 0;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999;
}
.browsehappy a {
  color: yellow;
  text-decoration: underline;
}
.browsehappyimg {
  z-index: 999999999999999;
  position: absolute;
  left: 48%;
  top: 12%;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.pad-inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
/*==================================================*/
/*=============== MOLECULAR STYLES ================*/
/*===============================================*/
/* (Common Elements that make up bigger groups elements.) */
html {
  font-size: 15px;
}
/* Modules will scale with document */
nav {
  font-size: 1rem;
}
section {
  font-size: 1rem;
}
.aleo-regular {
  font-family: 'aleoregular', serif;
}
.aleo-bold {
  font-family: 'aleobold', serif;
}
.ubuntu-regular {
  font-family: 'ubunturegular', sans-serif;
}
.ubuntu-bold {
  font-family: 'ubuntubold', sans-serif;
}
.ubuntu-medium {
  font-family: 'ubuntumedium', sans-serif;
}
.ubuntu-medium-italic {
  font-family: 'ubuntumedium_italic', sans-serif;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 7, 2015 */
@font-face {
  font-family: 'aleobold';
  src: url('/_assets/fonts/Aleo-Bold-webfont.eot');
  src: url('/_assets/fonts/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/_assets/fonts/Aleo-Bold-webfont.woff2') format('woff2'), url('/_assets/fonts/Aleo-Bold-webfont.woff') format('woff'), url('/_assets/fonts/Aleo-Bold-webfont.ttf') format('truetype'), url('/_assets/fonts/Aleo-Bold-webfont.svg#aleobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aleoregular';
  src: url('/_assets/fonts/Aleo-Regular-webfont.eot');
  src: url('/_assets/fonts/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/_assets/fonts/Aleo-Regular-webfont.woff2') format('woff2'), url('/_assets/fonts/Aleo-Regular-webfont.woff') format('woff'), url('/_assets/fonts/Aleo-Regular-webfont.ttf') format('truetype'), url('/_assets/fonts/Aleo-Regular-webfont.svg#aleoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubunturegular';
  src: url('/_assets/fonts/Ubuntu-R-webfont.eot');
  src: url('/_assets/fonts/Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'), url('/_assets/fonts/Ubuntu-R-webfont.woff2') format('woff2'), url('/_assets/fonts/Ubuntu-R-webfont.woff') format('woff'), url('/_assets/fonts/Ubuntu-R-webfont.ttf') format('truetype'), url('/_assets/fonts/Ubuntu-R-webfont.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntubold';
  src: url('/_assets/fonts/Ubuntu-B-webfont.eot');
  src: url('/_assets/fonts/Ubuntu-B-webfont.eot?#iefix') format('embedded-opentype'), url('/_assets/fonts/Ubuntu-B-webfont.woff2') format('woff2'), url('/_assets/fonts/Ubuntu-B-webfont.woff') format('woff'), url('/_assets/fonts/Ubuntu-B-webfont.ttf') format('truetype'), url('/_assets/fonts/Ubuntu-B-webfont.svg#ubuntubold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntumedium';
  src: url('/_assets/fonts/Ubuntu-M-webfont.eot');
  src: url('/_assets/fonts/Ubuntu-M-webfont.eot?#iefix') format('embedded-opentype'), url('/_assets/fonts/Ubuntu-M-webfont.woff2') format('woff2'), url('/_assets/fonts/Ubuntu-M-webfont.woff') format('woff'), url('/_assets/fonts/Ubuntu-M-webfont.ttf') format('truetype'), url('/_assets/fonts/Ubuntu-M-webfont.svg#ubuntumedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntumedium_italic';
  src: url('/_assets/fonts/Ubuntu-MI-webfont.eot');
  src: url('/_assets/fonts/Ubuntu-MI-webfont.eot?#iefix') format('embedded-opentype'), url('/_assets/fonts/Ubuntu-MI-webfont.woff2') format('woff2'), url('/_assets/fonts/Ubuntu-MI-webfont.woff') format('woff'), url('/_assets/fonts/Ubuntu-MI-webfont.ttf') format('truetype'), url('/_assets/fonts/Ubuntu-MI-webfont.svg#ubuntumedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  -webkit-font-smoothing: antialiased;
}
.inner {
  max-width: 1207px;
  margin: 0 auto;
}
h1 {
  font-family: 'ubuntubold', sans-serif;
  font-size: 2.6666666666666665em;
  color: #fff;
  text-align: center;
}
/*=================================================*/
/*================ ORGANIC STYLES ================*/
/*===============================================*/
/* (Groups of elements that are used throughout the site.) */
/******** START MAIN HEADER AND NAVIGATION STYLES *********/
header {
  background-color: #000;
  height: 84px;
}
header nav ul li {
  font-family: 'aleoregular', serif;
  font-size: 1.5em;
  line-height: 84px;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 3.35%;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #c6b000;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
header nav ul li a.active {
  color: #c6b000;
}
/******** START MAIN FOOTER STYLES *********/
/*================================================*/
/*================  PAGE STYLES  ================*/
/*==============================================*/
/* (Styles for pages with elements occuring in ways specific to the page.) */
section.slider div.flexslider li {
  position: relative;
}
section.slider div.flexslider li div.headline {
  top: 20%;
  left: 35%;
  position: absolute;
  z-index: 2;
}
section.slider div.flexslider li div.headline p.number {
  color: #c6b000;
  font-family: 'aleobold', serif;
  opacity: .65;
  font-size: 20em;
}
section.slider div.flexslider li div.headline p.tag {
  color: #c6b000;
  font-family: 'aleobold', serif;
  font-size: 4.5em;
  line-height: .8em;
  margin-left: 20%;
  margin-top: -140px;
}
section.slider div.flexslider li div.overlay {
  background-color: #000;
  opacity: .5;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
section.slider div.flexslider li img {
  width: 100%;
}
section#intro {
  position: relative;
  background-color: #c6b000;
}
section#intro div#text {
  padding: 33px 0 33px 45%;
}
section#intro div#text h1 {
  font-family: 'ubunturegular', sans-serif;
  font-size: 1.6em;
  line-height: 1.25em;
  text-align: left;
}
section#intro div#text h1 a {
  color: #fff;
  text-decoration: underline;
}
section#intro div#text h1 a:hover {
  color: #434dae;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#intro div#rwm {
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 1;
}
section#intro div#rwm img {
  width: 95%;
}
/*======================================================*/
/*================  RESPONSIVE STYLES  ================*/
/*====================================================*/
/*Contains ALL responsive code. Must be imported last so that it is the last css read.*/
@media screen and (max-width: 1200px) {
  html {
    font-size: 14.5px;
  }
}
